.more-menu-section {
  margin: 20px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.more-menu-section__button {
  padding: 40px 0;
  &:hover,
  &:focus {
    background-color: var(--color-base-400);
  }
}

.basicui-dark .more-menu-section__button:hover,
.basicui-dark .more-menu-section__button:focus {
  background-color: var(--color-base-200);
}

.more-menu-section__button__label svg {
  font-size: 24px;
}
