.participant-list {
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
  padding-bottom: 140px;
}
.participant-list__item {
  padding: 20px 20px;
  border-radius: 6px;
  background-color: var(--color-base-200);
}

.participant-list-quickfilter {
  position: fixed;
  bottom: 70px;
  left: 0;
  right: 0;
  padding: 10px;
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  justify-content: flex-start;
  background-color: var(--theme-white-200);
  button {
    padding: 6px 12px;
    background-color: var(--theme-white-400);
    border-radius: 6px;
    font-size: 11px;
  }
  button.active {
    background-color: var(--theme-primary-500);
  }
}

.basicui-dark .participant-list-quickfilter {
  button {
    background-color: var(--theme-black-100);
  }
  button.active {
    background-color: var(--theme-primary-500);
  }
}

.participant-list-filter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  align-items: center;
  background-color: var(--theme-white-200);

  input {
    background-color: var(--theme-white-400);
    border: none;
    height: 50px;
    border-radius: 50px;
  }
}

.basicui-dark .search-input input {
  background-color: var(--theme-black-50);
}

.basicui-dark .search-input {
  background-color: var(--theme-black-200);
}

.participant-list__footer {
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--theme-white-200);
}
