.people {
  margin: 0px 20px;
  display: grid;
  grid-auto-flow: row;
  padding-bottom: 70px;
}

.my-detail__item {
  display: grid;
  grid-auto-flow: row;
}

.my-detail__item__label {
  font-size: 12px;
  font-weight: 600;
}

.edit_room {
  display: grid;
  grid-template-columns: 50% 47px;
  column-gap: 15px;
}

.label-list {
  position: fixed;
  bottom: 128px;
  display: flex;
  gap: 5px;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 10px 0 10px;
  width: 100%;
  // background-color: var(--theme-white-100);
  // border-top: 1px solid var(--theme-white-700);
  .label {
    padding: 6px;
    background-color: var(--theme-white-400);
    color: #000;
    border-radius: 6px;
    font-size: 11px;
    cursor: pointer;
    &.active {
      background-color: var(--theme-primary-500);
      color: var(--color-primary-500i);
    }
  }
}

.basicui-dark .label-list .label {
  background-color: var(--theme-black-50);
  color: #fff;
  &.active {
    background-color: var(--theme-primary-500);
    color: var(--color-primary-i);
  }
}

.admin-checkin-page__event {
  padding: 0 20px;
  button {
    width: 100%;
    background-color: #cfba60 !important;
    color: #000 !important;
  }
}
