.track-list {
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
}
.track-list__item {
  padding: 20px 20px;
  border-radius: 6px;
  background-color: var(--color-base-400);
}
.basicui-dark .track-list__item {
  background-color: var(--color-base-200);
}
.track-list__item--active,
.basicui-dark .track-list__item--active {
  background-color: var(--theme-primary-500);
}
.track-list__item__container {
  display: grid;
  justify-items: flex-start;
  text-align: left;
}

.track-list__item__container__name {
  font-size: 18px;
}
.track-list__item__container__description {
  font-size: 12px;
}
.track-list__item__container__location {
  font-size: 12px;
  font-weight: 600;
}
