.compose-admin-feed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 10px;
  align-items: center;
  background-color: var(--theme-white-200);

  button {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    background-color: var(--theme-primary-500);
    color: var(--color-primary-500i);
    column-gap: 5px;
  }

  .notify-button {
    background-color: #cfba60;
  }

  input {
    background-color: var(--theme-white-200);
    border: none;
    height: 50px;
    border-radius: 50px;
  }
}

.basicui-dark .compose-admin input {
  background-color: var(--theme-black-200);
}

.basicui-dark .compose-admin {
  background-color: var(--color-black-300);
}

button.compose-admin__important {
  background-color: var(--theme-white-200);
}
.basicui-dark button.compose-admin__important {
  background-color: var(--theme-black-200);
}
button.compose-admin__important--active,
.basicui-dark button.compose-admin__important--active {
  background-color: var(--theme-primary-500);
}
