.topbar {
  height: var(--oak-app-layout-topbar-height);
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 10px;
  align-items: center;
  padding: 0 20px;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out,
    left 250ms ease-in-out, right 250ms ease-in-out;
}
.topbar--not-fixed {
}
.topbar--fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.topbar--fixed.topbar--sidebar-active {
  left: calc(
    var(--oak-app-layout-sidebar-width-shrinked) +
      var(--oak-app-layout-sidebar-width)
  );
}
.topbar--fixed.topbar--sidebar-inactive {
  left: var(--oak-app-layout-sidebar-width-shrinked);
}
.topbar--fixed.topbar--context-active {
  right: var(--oak-app-layout-contextbar-width);
}

.topbar__left {
  font-size: 28px;
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  column-gap: 20px;
  align-items: center;
  font-size: 24px;
  height: 100%;

  button {
    font-size: 24px;
  }
}
.topbar__right {
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
  height: 100%;
}
