.landing-page__main__container {
  display: flex;
  justify-content: center;
}
.landing-page__main {
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
  justify-content: center;
}

.landing-page__main__company,
.landing-page__main__new-company {
  background-color: var(--color-surface);
  color: var(--color-surface-i);
  box-shadow: none;
  border: none;
  transition: background-color 250ms ease-in-out;
  padding: 20px 40px;

  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
  justify-items: flex-start;
  text-align: left;
  width: 500px;
  max-width: 90vw;

  &:hover,
  &:focus {
    background-color: var(--color-surface-darker);
  }
}

.landing-page__main__company__title {
  font-size: 18px;
}
.landing-page__main__company__subtitle {
  font-size: 12px;
}

.landing-page__main__new-company {
  background-color: var(--color-container);
  justify-items: center;
  text-align: center;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;

  &:hover,
  &:focus {
    background-color: var(--color-container-darker);
  }
  font-size: 18px;
}
