.participant-list {
  padding: 20px 20px;
}
.participant-list__main {
  padding: 20px 0;
  display: grid;
  // grid-template-columns: 1fr 1fr;
  // row-gap: 20px;
  // column-gap: 20px;
}

.participant-list__main__item {
  // background-color: var(--color-base-200);
  padding: 10px 20px;
  // border-radius: 4px;
  // border: 1px solid var(--color-base-200);
  border-bottom: 1px solid var(--color-base-200);
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: flex-start;
  text-align: start;
  &:hover,
  &:focus {
    background-color: var(--color-base-200);
  }
}

.light .participant-list__main__item {
  border-bottom: 1px solid var(--color-base-400);
  &:hover,
  &:focus {
    background-color: var(--color-base-400);
  }
}

.participant-list__main__item__name {
  // font-weight: 600;
  // font-size: 20px;
}
