.light {
  --color-primary-100: #1596d1;
  --color-primary-200: #1596d1c0;
  --color-primary-i: #fff;
  --color-success-100: #3c887e;
  --color-success-200: #18a76cc0;
  --color-success-300: #8ecdc5;
  --color-success-300-i: #000;
  --color-success-i: #fff;
  --color-failure-i: #E15554;
  --color-base-100: #ffffff;
  --color-base-200: #fafafa;
  --color-base-300: #f4f4f4;
  --color-base-400: #e4e4e4;
  --color-base-500: #d0d0d0;
  --color-base-600: #c0c0c0;
  --color-base-700: #b0b0b0;
}
.dark {
  --color-primary-100: #1596d1;
  --color-primary-200: #1596d1c0;
  --color-primary-i: #fff;
  --color-success-100: #3c887e;
  --color-success-200: #18a76cc0;
  --color-success-300: #25554f;
  --color-success-300-i: #fff;
  --color-success-i: #fff;
  --color-failure-i: #E15554;
  --color-base-100: #505050;
  --color-base-200: #414141;
  --color-base-300: #2c2c2c;
  --color-base-400: #202020;
  --color-base-500: #161616;
  --color-base-600: #000000;
}
