// @media (min-width: 768px) {
//   ::-webkit-scrollbar {
//     width: 10px; /* for vertical scrollbars */
//     height: 10px; /* for horizontal scrollbars */
//   }

//   ::-webkit-scrollbar-track {
//     background: var(--color-foreground-5);
//     border-radius: 10px;
//   }

//   ::-webkit-scrollbar-thumb {
//     background: var(--color-1);
//     border-radius: 10px;
//   }
// }

// .App {
//   width: 100%;
//   margin: auto;
// }

.theme_light {
  --tag-background-color: rgba(228, 228, 228, 1);
  --tag-background-color-hover: rgb(214, 214, 214);
}
.theme_dark {
  --tag-background-color: #424242;
  --tag-background-color-hover: #525252;
}

.content-container {
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

* {
  --footer-height: 50px;
  --topbar-height: 100px;
}
.drawer-left,
.drawer-right {
  height: 100%;
}

.tab-playground {
  margin-top: 20px;
}

.page-width {
  margin: 0 auto;
  max-width: 1180px;
  width: 90%;
}

// .page-width-narrow {
//   margin: 0 auto;
//   max-width: 90vw;
//   width: 1180px;
// }

.page-title {
  font-size: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form {
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
}

.form-two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.content-section {
  background-color: var(--color-surface);
  padding: 20px 20px;
}

.main-section {
  margin-top: 40px;
  margin-bottom: 40px;
}
.error {
  color: var(--color-danger);
  font-size: 10px;
  margin-top: 4px;
}

.hyperlink {
  text-decoration: none;
  box-shadow: none;
  color: var(--color-primary);
  &:hover {
    color: var(--color-primary-darker);
  }
}

.button {
  font-family: inherit;
  // font-size: inherit;
  box-shadow: none;
  border: none;
  // background: none;
  color: inherit;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out,
    border-color 250ms ease-in-out;
  // &:hover,
  // &:focus {
  //   color: inherit;
  // }
}

.primary-button,
.default-button {
  display: grid;
  grid-auto-flow: column;
  column-gap: 12px;
  padding: 4px 16px;
  border-radius: 4px;
  align-content: center;
  align-items: center;
  background-color: var(--color-primary-100);
  color: var(--color-primary-i);
  &:hover,
  &:focus {
    background-color: var(--color-primary-200);
  }
}

.default-button {
  background-color: var(--color-base-100);
  color: var(--color-base-i);
  &:hover,
  &:focus {
    background-color: var(--color-base-200);
  }
}
.light .default-button {
  background-color: var(--color-base-400);
  color: var(--color-base-i);
  &:hover,
  &:focus {
    background-color: var(--color-base-500);
  }
}

.footer-action {
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
  justify-content: flex-end;
  margin: 0 20px;
}

.action-column {
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
  justify-content: flex-end;
}

.chart-section {
  background-color: var(--color-surface);
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.chart-section-one-column {
  display: grid;
  // grid-template-columns: 1fr 1fr;
  // column-gap: 40px;
  align-items: center;
}

.chart-section-two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  align-items: center;
}

.page-animate {
  -webkit-animation: page-animate 500ms forwards ease-in-out;
  animation: page-animate 250ms forwards ease-in-out;
}

input,
textarea {
  border: 1px solid rgb(184, 184, 184);
  border-radius: 4px;
  &:hover:not(:focus) {
    border-color: rgb(124, 124, 124);
  }
}

.dark input,
.dark textarea {
  border: 1px solid rgb(83, 83, 83);
  &:hover:not(:focus) {
    border-color: rgb(124, 124, 124);
  }
}

input,
textarea {
  background-color: inherit;
  color: inherit;
  padding: 6px 12px;
  transition: border-color 250ms ease-in-out;
  &:focus {
    border-color: var(--color-primary-100);
    outline: none;
  }
  width: 100%;
}

label {
  font-size: 12px;
  display: flex;
  margin-bottom: 2px;
}

.topbar-action-group {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  justify-items: center;
  // column-gap: 20px;
  button {
    width: var(--oak-app-layout-topbar-height);
    border-bottom: 4px solid transparent;
    height: var(--oak-app-layout-topbar-height);
  }
  button:hover {
    border-color: var(--color-base-100);
  }
  button.active {
    border-color: var(--color-primary-100);
  }
}

@-webkit-keyframes page-animate {
  0% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes page-animate {
  0% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
