.checkin-tile {
  padding: 20px 20px;
  border-radius: 6px;
  display: grid;
  // grid-template-columns: 1fr 40px;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}
.checkin-tile {
  background-color: #5d6a76;
  color: #fff;
}
.checkin-tile--status-active {
  background-color: #1596d1;
  color: #fff;
}
.checkin-tile--locked.checkin-tile--status-active {
  background-color: #72b7e2;
  color: #fff;
}
.checkin-tile--locked {
  background-color: #858f98;
  color: #fff;
}
.checkin-tile--status-new {
  background-color: #5d6a76;
  color: #fff;
}

.basicui-dark {
  .checkin-tile {
    background-color: #5d6a76;
    color: #fff;
  }
  .checkin-tile--status-active {
    background-color: #1596d1;
    color: #fff;
  }
  .checkin-tile--locked.checkin-tile--status-active {
    background-color: #72b7e2;
    color: #fff;
  }
  .checkin-tile--locked {
    background-color: #858f98;
    color: #fff;
  }
  .checkin-tile--status-new {
    background-color: #5d6a76;
    color: #fff;
  }
}
.basicui-dark2 {
  .checkin-tile {
    background-color: #d5dee6;
    color: #000;
  }
  .checkin-tile--status-active {
    background-color: #81b19f;
    color: #000;
  }
  .checkin-tile--locked.checkin-tile--status-active {
    background-color: #c0d8d0;
    color: #000;
  }
  .checkin-tile--locked {
    background-color: #d0bcb3;
    color: #000;
  }
  .checkin-tile--status-new {
    background-color: #d5dee6;
    color: #000;
  }
}

.checkin-tile__left__name {
  font-size: 18px;
}
.checkin-tile__left__description {
  font-size: 12px;
}

.checkin-tile__left__time {
  margin-top: 10px;
}
.checkin-tile__left__schedule,
.checkin-tile__left__time {
  font-size: 12px;
  font-weight: 600;
}

.checkin-tile__right__action {
  font-size: 40px;
  // &:hover {
  //   color: var(--color-primary-i);
  // }
}

.checkin-tile__right__indicator {
  font-size: 40px;
}

.checkin-tile__right__indicator--active,
.checkin-tile__right__indicator--inactive {
  width: 40px;
}

.checkin-tile__right__indicator--inactive {
  opacity: 0.1;
}

.qr-scan {
  width: 100px;
  height: 100px;
}
