.participant-tile {
  display: flex;
  flex-direction: column;
  // row-gap: 4px;
  padding: 10px 0;
  &:hover,
  &:focus {
    background: none;
  }
  border-bottom: 1px solid var(--color-base-400);
}
.dark .participant-tile {
  border-bottom: 1px solid var(--color-base-200);
}

.participant-tile__name {
  color: #1596d1;
}

.dark .participant-tile__name {
  color: #72b7e2;
}

.participant-tile__description {
  margin-bottom: 4px;
}
.participant-tile__description,
.participant-tile__time {
  font-size: 12px;
}

.participant-tile--na {
  opacity: 0.4;
}
