.checkin-page {
  // min-height: calc(100vh - var(--oak-app-layout-topbar-height));
}

.checkin-page__footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  // height: 50px;
  // background-color: var(--color-base-100);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.checkin-page__footer__button__label {
  justify-content: center;
  justify-items: center;
  display: grid;
  grid-auto-flow: row;
  padding: 10px 0;
  row-gap: 4px;
}

.checkin-page__footer__button__label__text {
  font-size: 10px;
  display: none;
}

.checkin-page__footer__button {
  background-color: var(--color-base-200);
  border: 1px solid var(--color-base-300);
  color: var(--color-base-i);
}

.checkin-page__footer__button:hover {
  background-color: var(--color-base-100);
  color: var(--color-base-i);
}

.checkin-page__footer__button--active,
.checkin-page__footer__button--active:hover,
.checkin-page__footer__button--active:focus {
  color: var(--color-primary-100);
}

.checkin-page__footer__button--active
  .checkin-page__footer__button__label__text {
  display: block;
}
