.checkin-page {
  min-height: calc(100vh - var(--app-layout-topbar-height));
}
.checkin-page--notvalidated {
  // background-color: #1596d1;
  background-image: linear-gradient(
      90deg,
      rgba(49, 113, 209, 0.5),
      rgba(22, 26, 32, 0.5)
    ),
    // linear-gradient(120deg, #7631c690, #0777be90), url(../../../assets/hero.jpg);
    linear-gradient(120deg, #7631c690, #0777be90), url(https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50%;
}
.checkin-page__notification {
  padding: 20px 20px;
  background-color: #cfba60;
  color: #000;
}
.checkin-page__main {
  padding-bottom: 50px;
  min-height: calc(100vh - var(--app-layout-topbar-height));
}

.checkin-page__footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  // height: 50px;
  // background-color: var(--color-base-100);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.checkin-page__footer__button__label {
  justify-content: center;
  justify-items: center;
  display: grid;
  grid-auto-flow: row;
  padding: 10px 0;
  row-gap: 4px;
}

.checkin-page__footer__button__label__text {
  font-size: 10px;
  font-weight: 600;
  display: none;
}

.checkin-page__footer__button {
  background-color: var(--theme-white-300);
  border: 1px solid var(--theme-white-50);
  color: var(--theme-white-300i);
}

.checkin-page__footer__button:hover {
  background-color: var(--theme-white-500);
  color: var(--theme-white-500i);
}

.checkin-page__footer__button--active,
.checkin-page__footer__button--active:hover,
.checkin-page__footer__button--active:focus {
  color: var(--theme-primary-500);
}

.basicui-dark {
  .checkin-page__footer__button {
    background-color: var(--theme-black-50);
    color: var(--theme-black-50i);
    border: 1px solid var(--theme-black-200);
  }

  .checkin-page__footer__button:hover {
    background-color: var(--theme-black-extended-800);
  }
}

.checkin-page__footer__button--active
  .checkin-page__footer__button__label__text {
  display: block;
}
