.validate_section {
  height: calc(100vh - var(--app-layout-topbar-height));
  margin: 0 20px;
  display: grid;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  // margin-top: 100px;
  // Temporary change
  padding-bottom: 160px;
  color: #fff;
  input {
    border-color: transparent;
    color: #fff;
    background-color: #ffffff30;
    height: 50px;
    font-size: 24px;
    text-align: center;
    border-radius: 50px;
  }
}

.validate-section__register {
  margin: 20px 20px;
  display: grid;
  grid-auto-flow: row;
  // row-gap: 20px;
  color: var(--color-primary-i);
  justify-content: center;
  h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.33;
  }
  h5 {
    font-size: 15px;
    line-height: 20px;
    margin: 10px 0;
  }
  .event-duration {
    display: grid;
    grid-auto-flow: row;
    row-gap: 20px;
    .event-duration-content {
      display: grid;
      grid-template-columns: 30px auto;
      align-items: center;
      column-gap: 10px;
      background-color: #00000050;
      padding: 10px 10px;
      border-radius: 8px;
    }
    svg {
      color: #cfba60;
      font-size: 24px;
    }
  }
}

.validate_section__deadline {
  font-size: 10px;
  font-style: italic;
  text-align: center;
  // margin: -15px 0 0;
  color: var(--color-primary-i);
  visibility: hidden;
}

.validate_section__item {
  display: grid;
  grid-auto-flow: row;
}

.validate_section__item__label {
  font-size: 16px;
}

.circle-button {
  height: 50px;
  width: 50px;
  // border: 2px solid #ccc;
  border-radius: 50%;
  align-self: center;
  // background-color: var(--theme-primary-500);
  // color: var(--color-primary-i);
  // Temporary change
  background-color: #fff;
  color: #000;
  svg {
    height: 16px;
  }
}

.errorText {
  background-color: var(--color-failure-i);
  color: #fff;
  padding: 0 6px;
  font-size: 12px;
}

.call-for-help {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 20px 20px 0 20px;
  padding: 10px;
  // Temporary change
  // background-color: #cccccc80;
  background-color: #00000080;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.validate-section__action__button {
  background-color: var(--theme-primary-500);
  color: var(--color-primary-i);
  height: 42px;
  padding: 0 24px;
  border-radius: 50px;
  width: 80%;
  max-width: 400px;
  // font-size: 14px;
}

.validate-section__action {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
}

.validate-section__venuetitle {
  font-size: 16px;
}
.validate-section__venuedesc {
  font-size: 13px;
  line-height: 20px;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.validate-section__declaraion {
  margin-top: 20px;
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
}
.validate-section__declaraion__item {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  column-gap: 10px;
  color: #fff;
  font-size: 14px;
  label {
    font-size: 14px;
  }
  input {
    width: 24px;
  }
}

.errorText-container {
  display: flex;
  margin-bottom: 12px;
  justify-content: center;
}
