.event-list-page {
}
.event-list-page__main {
  padding: 20px 20px;
  display: grid;
  // grid-template-columns: 1fr 1fr;
  // row-gap: 20px;
  // column-gap: 20px;
}

.event-list-page__main__item {
  // background-color: var(--theme-adaptive-200);
  padding: 10px 20px;
  // border-radius: 4px;
  // border: 1px solid var(--theme-adaptive-200);
  border-bottom: 1px solid var(--theme-adaptive-200);
  display: grid;
  grid-auto-flow: row;
  justify-items: flex-start;
  text-align: start;
  &:hover,
  &:focus {
    background-color: var(--theme-adaptive-200);
  }
}

.event-list-page__main__item__name {
  font-weight: 600;
  // font-size: 20px;
}
.event-list-page__main__item__description {
  // font-weight: 400;
  font-size: 12px;
}
