.viewer--offset {
  margin-top: -24px;
}

a {
  color: #a07af8;
  &:hover {
    text-decoration: underline;
    // color: #6035fd;
  }
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  margin-bottom: 6px;
}
h1 {
  font-size: 3.052rem;
  font-weight: 300;
  line-height: 1.167;
  letter-spacing: -0.01562em;
  /* font-family: 'Merriweather Sans', sans-serif; */
  margin-bottom: 12px;
  margin-top: 24px;
}
h2 {
  font-size: 2.441rem;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.00833em;
  /* font-family: 'Merriweather Sans', sans-serif; */
  margin-bottom: 12px;
  margin-top: 24px;
}

li p.first {
  display: inline-block;
}

ul,
ol {
  padding-left: 30px;
}

ul :first-child,
ol :first-child {
  margin-top: 0;
}

ul :last-child,
ol :last-child {
  margin-bottom: 0;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  list-style-type: disc;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

ul ul {
  list-style-type: circle;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
