.footer {
  // background-color: var(--color-surface);
  height: var(--app-layout-topbar-height);
  position: fixed;
  bottom: 0;

  left: calc(
      var(--oak-app-layout-sidebar-width)
  );
  right: calc(
    var(--oak-app-layout-contextbar-mini-width) +
      var(--oak-app-layout-contextbar-width)
  );
  transition: left 250ms ease-in-out, right 150ms ease-in-out;
  display: grid;
  align-items: center;
  align-content: center;
}

.footer__sidebar-inactive {
  left: var(--oak-app-layout-sidebar-width-shrinked);
}

.footer__contextbar-inactive {
  right: 0;
}

.footer__contextbar-off {
  margin-right: 0px;
  transition: left 250ms ease-in-out, right 0ms ease-in-out;
}
