.event-list-page__main__item {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 10px 0;
  &:hover,
  &:focus {
    background: none;
  }
}

.event-list-page__main__item__time {
  font-weight: 400;
  font-size: 12px;
}
