.agenda-tile {
  display: flex;
  flex-direction: column;
  // row-gap: 4px;
  padding: 10px 0;
  &:hover,
  &:focus {
    background: none;
  }
  border-bottom: 1px solid var(--color-base-400);
  a {
    color: var(--theme-primary-500);
    text-decoration: underline;
  }
}
.basicui-dark .agenda-tile {
  border-bottom: 1px solid var(--color-base-200);
}

.agenda-tile__name {
  color: #1596d1;
}

.basicui-dark .agenda-tile__name {
  color: #72b7e2;
}

.agenda-tile__description {
  margin-bottom: 4px;
}
.agenda-tile__description,
.agenda-tile__time {
  font-size: 12px;
}

.agenda-tile--na {
  opacity: 0.4;
}

.agenda-tile__time,
.agenda-tile__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.agenda-tile__action_actions,
.agenda-tile__action_labels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.agenda-tile__location {
  display: grid;
  grid-auto-flow: column;
  column-gap: 4px;
  justify-content: flex-start;
  font-size: 12px;
  margin-bottom: 4px;
  font-weight: bold;
}

.agenda-tile__action_actions__button {
  background-color: #5d6a76;
  color: #fff;
  height: 36px;
  padding: 0 16px;
  border-radius: 50px;
  font-size: 14px;
  // margin-right: 6px;
  // margin-bottom: 6px;
}

.basicui-dark .agenda-tile__action_actions__button {
  background-color: #5d6a76;
  color: #fff;
}

.agenda-tile__action_actions__button--primary,
.basicui-dark .agenda-tile__action_actions__button--primary {
  background-color: var(--theme-primary-500);
  color: var(--color-primary-i);
}
.agenda-tile__action__labels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.agenda-tile__action__labels__label {
  // background-color: #858f98;
  border: 1px dashed #858f98;
  border: 1px dashed var(--theme-primary-500);
  border-radius: 4px;
  padding: 0 6px;
  font-size: 12px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.agenda-tile__live {
  display: grid;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.agenda-tile__live__container {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  background-color: #cfba60;
  color: #000;
  padding: 0 10px;
  border-radius: 4px;
  align-items: center;
  align-content: center;
  font-size: 12px;
  opacity: 0.1;
  animation-name: appear_disappear;
  animation-duration: 2s; /* or: Xms */
  animation-iteration-count: infinite;
  animation-direction: alternate; /* or: normal */
  animation-timing-function: ease-in-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: forwards;
}

@keyframes appear_disappear {
  0% {
    opacity: 0.1;
  }
  0% {
    opacity: 1;
  }
}

.temporary-notification-link {
  font-size: 12px;
  font-weight: bold;
  margin-top: 6px;
}
