.agenda {
}
.agenda__main {
  // padding: 20px 0;
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
  margin: 20px 20px;
  padding-bottom: 20px;
  // justify-content: center;
}

.agenda__main__action {
  display: flex;
  justify-content: flex-end;
}
