.people {
  margin: 0px 20px;
  display: grid;
  grid-auto-flow: row;
  padding-bottom: 70px;
  margin-bottom: 50px;
}

.my-detail__item {
  display: grid;
  grid-auto-flow: row;
}

.my-detail__item__label {
  font-size: 12px;
  font-weight: 600;
}

.edit_room {
  display: grid;
  grid-template-columns: 50% 47px;
  column-gap: 15px;
}

.label-list {
  position: fixed;
  bottom: 128px;
  display: flex;
  gap: 5px;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 10px 0 10px;
  background-color: var(--theme-white-100);
  border-top: 1px solid var(--theme-white-700);
  width: 100%;
  .label {
    padding: 6px;
    background-color: var(--color-base-400);
    color: #000;
    border-radius: 6px;
    font-size: 11px;
    cursor: pointer;
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
    align-items: center;
    height: 32px;
    &.active {
      background-color: var(--theme-primary-500);
      color: var(--color-primary-i);
    }
  }
}

.basicui-dark .label-list {
  background-color: var(--theme-black-200);
  border-top: 1px solid var(--theme-black-50);
}
.basicui-dark .label-list .label {
  background-color: var(--color-base-200);
  color: #fff;
  &.active {
    background-color: var(--theme-primary-500);
    color: var(--color-primary-i);
  }
}

.label-list__indicator {
  height: 10px;
  width: 10px;
  border-radius: 10px;
}
.label-list__indicator--offline {
  background-color: transparent;
  border: 2px solid #bbb;
}

.label-list__indicator--away {
  background-color: #f2c57c;
  border: 2px solid #f2c57c;
}
.label-list__indicator--online {
  background-color: #2BAC76;
  border: 2px solid #2BAC76;
}

.label-list__text {
  line-height: 1;
}
