.home_tile_title,
.home_tile_subtitle,
.home_tile_image,
.home_tile_text,
.home_tile_video,
.home_tile_youtube {
  margin: 0 20px;
  margin-bottom: 6px;
}
.home_tile {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
  h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 18px;
    margin-top: 12px;
    margin-bottom: 6px;
  }
  h6 {
    font-size: 14px;
    font-weight: normal;
    // line-height: 15px;
    font-weight: 600;
    color: var(--theme-primary-500);
    margin-bottom: 12px;
  }
  p {
    font-size: 16px;
    // line-height: 19px;
    // text-align: justify;
    // margin: 5px 0;
    margin-bottom: 12px;
  }
  video {
    border-radius: 12px;
  }
  img {
    width: 100%;
  }
  .practice {
    img {
      margin: 10px 0;
      border-radius: 8px;
    }
    h5 {
      font-weight: 600;
      font-size: 18px;
      display: inline-block;
      text-decoration: underline;
      text-decoration-style: dashed;
      text-underline-position: under;
      text-decoration-color: var(--theme-primary-500);
      text-decoration-thickness: from-font;
    }
  }
}

ul li {
  list-style: disc;
  margin-left: 20px;
}
