.compose {
  position: fixed;
  bottom: 58px;
  left: 0;
  right: 0;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-content: center;
  align-items: center;
  column-gap: 10px;
  background-color: var(--theme-white-100);

  button {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    background-color: var(--theme-primary-500);
    color: var(--theme-primary-500i);
  }

  .compose__refresh {
    background-color: var(--theme-white-400);
    color: var(--theme-white-400i);
  }

  input {
    background-color: var(--theme-white-400);
    border: none;
    height: 50px;
    border-radius: 50px;
  }
}

.basicui-dark .compose input {
  background-color: var(--theme-black-50);
}

.basicui-dark .compose {
  background-color: var(--theme-black-200);
}

.basicui-dark .compose__refresh {
  background-color: var(--theme-black-100);
  color: var(--theme-black-100i);
}
