.participant-select-section {
  height: calc(100vh - var(--app-layout-topbar-height));
  margin: 0 20px;
  display: grid;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  color: #fff;
  // margin-top: 100px;
  padding-bottom: 160px;
  input {
    border-color: transparent;
    color: #fff;
    background-color: #ffffff30;
    height: 50px;
    font-size: 24px;
    text-align: center;
    border-radius: 50px;
  }
}

.participant-select-section__item {
  display: grid;
  grid-auto-flow: row;
}

.participant-select-section__item__label {
  font-size: 16px;
}

.circle-button {
  height: 50px;
  width: 50px;
  // border: 2px solid #ccc;
  border-radius: 50%;
  align-self: center;
  // background-color: var(--theme-primary-500);
  // color: var(--color-primary-i);
  // Temporary change
  background-color: #fff;
  color: #000;
  svg {
    height: 16px;
  }
}

.errorText {
  background-color: var(--color-failure-i);
  color: #fff;
  padding: 0 6px;
  font-size: 12px;
}
